@font-face {
    font-family: 'Lato';
    font-weight: 400; /* Regular weight */
    font-style: normal;
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 200; /* Light weight */
    font-style: normal;
    src: url('/fonts/Lato-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 700; /* Bold weight */
    font-style: normal;
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 700; /* Bold weight */
    font-style: italic;
    src: url('/fonts/Lato-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 400; /* Regular weight */
    font-style: italic;
    src: url('/fonts/Lato-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 200; /* Light weight */
    font-style: italic;
    src: url('/fonts/Lato-LightItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 900; /* Black weight */
    font-style: normal;
    src: url('/fonts/Lato-Black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 900; /* Black weight */
    font-style: italic;
    src: url('/fonts/Lato-BlackItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 100; /* Thin weight */
    font-style: normal;
    src: url('/fonts/Lato-Thin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Lato';
    font-weight: 100; /* Thin weight */
    font-style: italic;
    src: url('/fonts/Lato-ThinItalic.ttf') format('truetype');
  }