:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important; /* Regular weight */ 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  top: 0;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  
}

footer {
  bottom: 0;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

header, footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

footer .footer-left, footer .footer-right {
  display: flex;
  align-items: center;
}

footer .footer-logo {
  color: #666;
  font-size: 14px;
  margin-right: 10px;
}

footer .footer-icon {
  width: 20px;
  height: 20px;
  background-color: #222;
  border-radius: 5px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
